@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import 'normalize.css';
@import 'reset.scss';


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
} 
.main {
    flex: 1 1 auto;
}